.footer{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    height: 12vh;
    width: 100%;
    background-image: linear-gradient(to top, white 90%, transparent);
}

.rrss{
    position: relative;;
    height: 50%;
    margin-right: 5%;
    border-radius: 20%;
    left: 10%;
    top: 3vh;
}

.copyright{
    position: relative;
    width: 50%;
    top: 50px;
    left: 40%;
}